{% extends 'base.html.twig' %}

{% block body %}
    <section id="main" class="wrapper">
        <div class="container">
            <section>
                <div class="box alt">
                    <div class="row 50% uniform">
                        <div class="10u$">
                            <span class="image fit">
                                <img src="{{ asset('bundles/EHS/images/ehs.png') }}" alt="logo Ethique handicap et société">
                            </span>
                        </div>
                    </div>
                </div>
                <p>Notre association a pour objet d’organiser la réflexion sur la question du rapport entre l’éthique, le handicap et la société, en offrant au public de Nantes et de son espace métropolitain, voire régional et/ou national, intéressé par ce sujet, la possibilité de bénéficier des réflexions et des débats qui animent les professionnels de la santé, des sciences humaines et l’ensemble des citoyens.</p>

                <p>Elle développe en outre une série de rencontres visant à favoriser la diffusion de la réflexion au plus grand nombre ainsi qu’un programme d’actions culturelles et sportives.</p>

                <p>C’est ainsi que le 23 janvier 2016 elle a organisé, en partenariat avec le GNEDS
                    Le Groupe Nantais d’Éthique dans le Domaine de la Santé (Gneds), le pôle Médecine et Réadaptation (MPR) du CHU de Nantes, avec  le soutien de l’Espace de réflexion éthique des Pays de la Loire, la première rencontre citoyenne
                    « Éthique et Handicap » à la Cité des Congrès.</p>

                <P>Motivée par la démarche du « Bien vivre ensemble » déclinée par Dominique Wolton, cette journée  avait pour ambition de changer le regard porté sur le monde du handicap, dans une ambiance conviviale, abordant sous un éclairage éthique, l’approche médicale et soignante, la dimension sociale. Elle était ouverte au grand public.
                    La parole a été donnée aux médecins et soignants, aux personnalités politiques, aux personnes souffrant de handicap et à leurs proches, au public. Elle s’est conclue par un moment festif avec la projection du film « Intouchables », présenté par Philippe Pozzo di Borgo suivi d’un échange avec la salle.</P>

                <P>L’association souhaite aussi développer des temps d’échanges entre professionnels de santé et le public. Dans le cadre de son programme d’échanges, l’association “Éthique, Handicap et Société” a convié le Professeur Bernard Giumelli à rencontrer les publics le lundi 21 novembre dernier, au Centre de Communication de l’Ouest (CCO).
                    Animé par une ferme volonté de communiquer autrement et de maintenir un rapport de proximité avec les patients, Bernard Giumelli, professeur à la Faculté de Chirurgie dentaire de Nantes, a replacé la cavité buccale au coeur de la Vie: la bouche au centre de préoccupations qui, bien que médicales, sont avant tout essentielles à la vie, qu’il s’agisse de la respiration chez les enfants, du maintien des fonctions nutritionnelles et de communication chez les personnes âgées, de l’esthétique chez les jeunes adultes…
                    C’est ce message original que l’association a proposé de partager avec le public.</P>
            </section>
        </div>
    </section>
{% endblock %}